// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


bs-callout {
  border-left-color: #1b809e;
}

bs-callout-info {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  display: block;
}